html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: #55505b;
  color: #eeecf2;
  width: 100vi;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  header {
    padding: 10px;
    width: 100%;
    /* text-align: center; */
    h1 {
      font-size: 6rem;
      font-weight: lighter;
      span {
        position: relative;
        top: 8px;
        font-family: "Caveat";
        font-size: 12rem;
        /* this svg is for header underline */
        svg {
          position: relative;
          top: 47px;
          left: -250px;
          margin: 0;
          padding: 0;
          width: 250px;
          height: 100px;
          z-index: -1;
        }
      }
    }
    p {
      font-size: 2rem;
    }
  }
  main {
    display: flex;
    flex-direction: column;
  }

  @scope (main) {
    a {
      svg {
        padding: 10px;
        transition: transform 0.3s;
      }
    }
    a:hover svg {
      transform: scale(1.1);
    }
    .sample-text {
      h2 {
        font-size: 8rem;
        margin-top: 20px;
      }
      p {
        font-size: 2rem;
        margin-top: 10px;
        width: 50%;
      }
    }
    .inputs-container {
      display: flex;
      margin-top: 60px;
      height: 50px;
      div {
        display: flex;
        input[type="text"] {
          border: none;
          border-bottom: 2px dashed;
          background-color: transparent;
          font-size: 4rem;
          letter-spacing: 3px;
        }
        input[type="color"] {
          --webkit-appearance: none;
          --webkit-appearance: none;
          border: none;
          background-color: transparent;
          width: 50px;
          height: 50px;
          margin-right: 20px;
          border: 3px solid;
          color: #ffffff;
          border-color: #383838;
          padding: 20px;
          font-size: 3rem;
          letter-spacing: 3px;
          border-radius: 4px;
          cursor: pointer;
        }
        input[type="color"]::-webkit-color-swatch {
          border: none;
          padding: 0;
        }
        #textColorPicker {
          margin-left: 20px;
        }
        #backgroundColorInput {
          width: 50%;
        }
        #textColorInput {
          width: 50%;
        }
        svg {
          margin-left: 20px;
          width: 72px;
          height: 72px;
          position: relative;
          bottom: 20px;
          right: 18px;
          padding: 10px;
          border-radius: 10px;
          fill: #eeecf2;
          stroke: #383838;
          cursor: pointer;
          z-index: 1;
          transition: transform 0.3s;
        }
        svg:hover {
          transform: scale(1.1);
        }
        path {
          pointer-events: none;
        }
      }
    }
    .buttons-container {
      display: flex;
      margin-top: 20px;
      button {
        padding: 12px 16px;
        font-size: 2rem;
        margin-right: 20px;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          background-color: #55505b;
          color: #fff;
        }
      }
      svg {
        width: 42px;
        height: 42px;
        padding: 10px;
        position: relative;
        left: 41%;
        margin-right: 10px;
        cursor: pointer;
        stroke: #eeecf2;
        transition: transform 0.3s;
      }
      svg:hover {
        transform: scale(1.1);
      }
    }
    .cards-container {
      .card {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        padding: 18px;
        width: 25%;
        height: 300px;
        border-radius: 10px;
        .card-img {
        }
        .card-header {
          font-size: 2.8rem;
        }
        .card-text {
          font-size: 1.6rem;
        }
      }
    }
  }
  footer {
    height: 80px;
    margin-top: 60px;
    h6 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 468px) {
  .container {
    header {
      h1 {
        font-size: 4rem;
        span {
          font-size: 8rem;
          svg {
            position: relative;
            top: 50px;
            left: 00px;
            margin: 0;
            padding: 0;
            width: 150px;
            /* height: 100px; */
            z-index: -1;
          }
        }
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 469px) {
  .container {
    header {
      h1 {
        font-size: 4rem;
        span {
          font-size: 8rem;
          svg {
            position: relative;
            top: 50px;
            left: -150px;
            margin: 0;
            padding: 0;
            width: 140px;
            height: 100px;
            z-index: -1;
          }
        }
      }
      p {
        font-size: 1.6rem;
      }
    }
    main {
      .sample-text {
        h2 {
          font-size: 4rem;
        }
        p {
          font-size: 1.6rem;
        }
      }
      .inputs-container {
        div {
          input[type="text"] {
            font-size: 2.4rem;
          }
          input[type="color"] {
            width: 40px;
            height: 40px;
            font-size: 2.4rem;
          }
          svg {
            width: 52px;
            height: 52px;
            bottom: 10px;
            right: 10px;
            padding: 8px;
          }
        }
      }
      .buttons-container {
        button {
          font-size: 1.6rem;
        }
        svg {
          width: 32px;
          height: 32px;
          padding: 8px;
        }
      }
      .cards-container {
        .card {
          padding: 12px;
          width: 80%;
          height: 200px;
          .card-header {
            font-size: 2.4rem;
          }
          .card-text {
            font-size: 1.4rem;
          }
        }
      }
    }
    footer {
      h6 {
        font-size: 1.6rem;
      }
    }
  }
}
