html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: #55505b;
  color: #eeecf2;
  width: 100vi;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  header {
    padding: 10px;
    width: 100%;
    /* text-align: center; */
    h1 {
      font-size: 8rem;
    }
    p {
      font-size: 2rem;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }

  @scope (main) {
    .sample-text {
      h2 {
        font-size: 8rem;
        margin-top: 20px;
      }
      p {
        font-size: 2rem;
        margin-top: 10px;
        width: 50%;
      }
    }
    .inputs-container {
      display: flex;
      margin-top: 60px;
      height: 50px;
      div {
        display: flex;
        input[type="text"] {
          border: none;
          border-bottom: 2px dashed;
          background-color: transparent;
          font-size: 4rem;
          letter-spacing: 3px;
        }
        input[type="color"] {
          --webkit-appearance: none;
          --webkit-appearance: none;
          border: none;
          background-color: transparent;
          width: 50px;
          height: 50px;
          margin-right: 20px;
          border: 2px solid;
          color: #ffffff;
          border-color: #eeecf2;
          padding: 20px;
          font-size: 3rem;
          letter-spacing: 3px;
          border-radius: 4px;
          cursor: pointer;
        }
        input[type="color"]::-webkit-color-swatch {
          border: none;
          padding: 0;
        }
        #textColorPicker {
          margin-left: 20px;
        }
        #backgroundColorInput {
          width: 50%;
        }
        #textColorInput {
          width: 50%;
        }
        svg {
          margin-left: 20px;
          width: 72px;
          height: 72px;
          position: relative;
          bottom: 20px;
          right: 18px;
          padding: 10px;
          fill: white;
          cursor: pointer;
          z-index: 1;
        }
        path {
          pointer-events: none;
        }
      }
    }
    .buttons-container {
      display: flex;
      margin-top: 20px;
      button {
        padding: 12px 16px;
        font-size: 2rem;
        margin-right: 20px;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          background-color: #55505b;
          color: #fff;
        }
      }
      svg {
        width: 42px;
        height: 42px;
        padding: 10px;
        position: relative;
        left: 41%;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .cards-container {
      .card {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        padding: 18px;
        width: 25%;
        height: 300px;
        border: 2px solid #fff;
        border-radius: 10px;
        .card-img {
        }
        .card-header {
          font-size: 2.8rem;
        }
        .card-text {
          font-size: 1.6rem;
        }
      }
    }
  }
  footer {
    height: 80px;
    margin-top: 60px;
    h6 {
      font-size: 2rem;
    }
  }
}
